.vscode
*/.vscode
.DS_Store
*/.DS_Store
*/*.o
webserv
a.out

# web pages
public/carvilla
public/digitf
public/fonicy
public/hightech
public/omar

# scripts for testing
con.java
con.class
break.sh

# tester
tester
cgi_tester
YoupiBanane

key
test
test_backup