.vscode
*/.vscode
.DS_Store
*/.DS_Store
*/*.o
webserv
a.out
obj

# web pages
public/carvilla
public/digitf
public/fonicy
public/hightech
public/omar
public/storage

# scripts for testing
con.java
con.class
break.sh

# tester
break.sh
tester
cgi_tester
YoupiBanane

key
test
test_backup

go.class
go.java
reder.class
reder.java
stop.sh

Traces